:root {
    --classic-main-width: 1550px;
    --classic-main-background: rgb(226, 247, 255);
    --dark-story-top-color: rgb(37, 37, 52);
    --story-text-color: rgb(65, 65, 70);
    --dark-story-text-color: rgb(200, 200, 202);
    --modern-story-background: rgb(168, 230, 255);
    --fake-top-color: rgb(143, 190, 235);
    --main-transition: .3s ease;
}

body {
    margin: 0;
}

.app-wrapper {
    background-color: rgb(243, 243, 244);
    transition: var(--main-transition);
    min-height: 100vh;
}

.dark-app-wrapper {
    background-color: rgb(20, 20, 31);
}

main {
    margin: 0;
    font-family: 'Tahoma', sans-serif;
}

.url-no-match {
    font-size: 24px;
    text-align: center;
    margin: 25px 10px;
}

.app-footer {
    font-family: 'Roboto', sans-serif;;
    text-align: center;
    padding: 2em 0 3em 0;
    font-size: 16px;
    font-style: italic;
    color: rgb(100, 100, 103);
    transition: var(--main-transition);
}

.dark-app-footer {
    color: rgb(170, 170, 173)
}