.story-comments-wrap,
.comments {
    max-width: var(--classic-main-width);
    margin: 0 auto;
    padding: 0;
    background: var(--classic-main-background);
    transition: var(--main-transition);
}

.modern-story-comments-wrap,
.modern-comments {
    max-width: 1400px;
}

.dark-story-comments-wrap,
.dark-comments {
    background-color: rgb(23, 23, 34);
}

.details-comments-wrap {
    font-family: 'Open-sans', sans-serif;
    transition: var(--main-transition);
}

.fake-comments-count {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: transparent;
    transition: var(--main-transition);
}

.modern-fake-comments-count {
    background-color: rgb(174, 236, 255);
}

.dark-fake-comments-count.modern-fake-comments-count {
    background-color: var(--dark-story-top-color);
}

.fake-comments-count::before {
    position: absolute;
    content: '';
    height: 25px;
    width: 125px;
    background-color: rgb(182, 211, 219);
    top: 30%;
    left: 10px;
    border-radius: 25px;
    transition: var(--main-transition);
}

.modern-fake-comments-count::before {
    width: 45%;
    top: 25%;
    left: 28%;
}

.dark-fake-comments-count::before {
    background-color: rgb(45, 55, 65);
}


.details-comments-wrap > .details-comm-count {
    font-size: 16px;
    font-weight: bold;
    color: rgb(65, 93, 119);
    margin: 0;
    padding: 10px 15px 5px 15px;
    text-decoration: underline;
    pointer-events: none;
    transition: var(--main-transition);
}

.modern-details-comments-wrap > .details-comm-count {
    font-size: 17px;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    background-color: rgb(174, 236, 255);
}

.dark-details-comments-wrap > .details-comm-count {
    color:rgb(165, 174, 185);;
    background-color: transparent;
}

.dark-details-comments-wrap.modern-details-comments-wrap > .details-comm-count {
    background-color: var(--dark-story-top-color);
}

.details-comments-text {
    font-size: 15px;
    color: rgb(105, 105, 110);
    background: rgb(198, 242, 255);
    padding: 0 15px;
    overflow-x: auto;
    word-break: break-word;
    transition: var(--main-transition);
}

.modern-details-comments-text {
    padding: 5px 17px;
}

.dark-details-comments-text {
    background-color: rgb(27, 27, 41);
    color: rgb(160, 160, 165);
}

.modern-details-comments-text.dark-details-comments-text {
    background-color: rgb(23, 23, 34);
}

@media only screen and (min-width: 670px) {

    .fake-comments-count {
        height: 35px;
        width: 100%;
    }

    .modern-fake-comments-count {
        height: 57px;
        width: 100%;
    }

    .fake-comments-count::before {
        top: 15%;
        left: 20px;
    }

    .modern-fake-comments-count::before {
        height: 23px;
        width: 20%;
        top: 30%;
        left: 40%;
    }

    .details-comments-wrap > .details-comm-count {
        font-size: 16px;
        padding: 15px 15px 10px 20px;
    }

    .modern-details-comments-wrap > .details-comm-count {
        font-size: 19px;
        padding: 18px 15px;
    }
    
    .details-comments-text {
        padding: 5px 20px;
    }

    .modern-details-comments-text {
        font-size: 16px;
        padding: 15px 30px;
    }

    .modern-fake-story-comm-details {
        height: 130px;
    }

}