.story {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 35px 1fr;
    padding: .15em 0;
    transition: var(--main-transition);
}

.modern-story {
    display: block;
    background: var(--modern-story-background);
    border-radius: 6px;
    border: 1px solid var(--modern-story-background);
    padding: 0 10px;
    margin: 0 5px;
}

.dark-story {
    background: transparent;
}

.modern-story.dark-story {
    border: 1px solid rgb(27, 27, 41);
    background: rgb(27, 27, 41);
}

/*** story title and short url top part ***/
.story-top-wrap {
    font-family: 'Open Sans', sans-serif;
}

.dark-story-top-wrap {
    background: transparent;
}

.modern-story-top-wrap {
    background: rgb(244, 249, 255);
    border-radius: 3px;
    padding: 6px 8px;
    word-wrap: break-word;
    transition: var(--main-transition);
}

/* show dark background only if these 
two classes are active together: */
.modern-story-top-wrap.dark-story-top-wrap {
    background: var(--dark-story-top-color);
}

.story-top-wrap > h2 {
    font-size: 15px;
    margin: 0 5px 0 0;
    padding: 0;
    display: inline;
    
}

.modern-story-top-wrap > h2 {
    font-size: 15px;
    margin: 0 0 0 0;
    display: block;
}

.story-num {
    font-size: 14px;
    grid-row: 1;
    text-align: right;
    margin: 2px 5px 0 0;
    padding: 0 0;
    color: var(--story-text-color);
    transition: var(--main-transition);
}

.modern-story-num {
    margin: 0 5px 0 0;
    padding: 3px 0;
    color: rgb(114, 119, 131);
    font-weight: bold;
    transition: var(--main-transition);
}

.dark-story-num {
    color: var(--dark-story-text-color);
}

.title-link {
   text-decoration: none;
   color: rgb(1, 26, 167);
   transition: var(--main-transition);
}

.title-link:hover {
    color: rgb(57, 86, 247);
}

.dark-title-link {
    color: rgb(110, 178, 255);
}

.dark-title-link:hover {
    color: rgb(35, 137, 255);
}

.story-top-wrap > .domain {
    display: inline-block;
    font-size: 13px;
    color: var(--story-text-color);
    padding: 0;
    margin: 0 0 0 0;
    transition: var(--main-transition);
}

.modern-story-top-wrap > .domain {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: .04em;
    margin: 5px 0 0 0;
    font-weight: bold;
    color: rgb(75, 75, 78);
    transition: var(--main-transition);
}

.dark-story-top-wrap > .domain {
    color: rgb(215, 215, 217)
}
/*** end of story title and short url top part ***/

/*** story score, user, timeago, comments bottom part ***/
.story-bottom-wrap {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-column: 2;
}

.modern-story-bottom-wrap {
    padding: .4em 0;
    transition: var(--main-transition);
}

.story-bottom-wrap p {
    font-size: 13px;
    color: var(--story-text-color);
    padding: 0;
    margin: 2px 5px 2px 0;
    transition: var(--main-transition);
}

.dark-story-bottom-wrap p {
    color: var(--dark-story-text-color);
}

.story-bottom-wrap p:nth-child(3) {
    border-right: 1px solid var(--story-text-color);
    padding: 0 5px 0 0;
}

.dark-story-bottom-wrap p:nth-child(3) {
    border-right: 1px solid var(--dark-story-text-color);
}

.story-bottom-wrap p:last-child {
    font-weight: bold;
    color: rgb(233, 90, 54);
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}

.story-bottom-wrap p:last-child:hover {
    color: rgb(247, 141, 114);
}

.dark-story-bottom-wrap p:last-child {
    color: rgb(255, 176, 157);
}

.dark-story-bottom-wrap p:last-child:hover {
    color: rgb(255, 128, 96);
}

.modern-story-bottom-wrap p {
    margin: 4px 7px 4px 0;
    padding: 4px 8px 3px 8px;
    border-radius: 12px;
    background: rgb(236, 252, 255);
    transition: var(--main-transition);
    border: none;
}

.modern-story-bottom-wrap p:nth-child(3) {
    border: none;
    padding: 4px 8px 3px 8px;
}

.modern-story-bottom-wrap.dark-story-bottom-wrap p {
    background: rgb(42, 42, 58);
}

.story-comments-link {
    text-decoration: none;
}

.link-disabled {
    pointer-events: none;
    cursor: default;
}

.story-bottom-wrap >.story-comments-link > .no-comments {
    color: rgb(99, 105, 112);
    font-weight: normal;
}

.story-bottom-wrap >.story-comments-link > .dark-no-comments{
    color: rgb(145, 145, 145);
}
/*** end of story score, user, comments part ***/

@media only screen and (min-width: 670px) {

    .story-top-wrap {
        padding: 0 0;
    }

    .modern-story-top-wrap {
        padding: 7px 10px;
    }

    .story-top-wrap > h2 {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .modern-story-top-wrap > h2 { 
        height: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .modern-story-num {
        font-size: 16px;
    }

    .modern-story-top-wrap > .domain {
        font-size: 14px;
        margin: 1px 0 0 0;
    }

    .story-bottom-wrap {
        flex-direction: row;
        padding: 0 0;
    }

    .story-bottom-wrap p {
        margin: 1px 5px 1px 0;
    }

    .modern-story-bottom-wrap {
        padding: .6em 0;
    }

    .modern-story-bottom-wrap p {
        /*2002 is unicode for two white spaces (same as &ensp;)*/
        margin: 3px 7px 3px 0;
    }
}