.comments-paginate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 19px;
}

.comments-paginate * {
    text-decoration: none;
}

.comments-paginate p {
    width: 100px;
    max-width: 100%;
    margin: 15px 10px;
    padding: 7px 10px;
    text-align: center;
    color: rgb(241, 241, 241);
    background: rgb(23, 116, 192);
    border-radius: 7px;
    cursor: pointer;
    transition: var(--main-transition);
}

.comments-paginate p:hover {
    background:  rgb(75, 160, 230);
    color: rgb(40, 40, 42);
}

